@font-face {
  font-family: 'robotobold';
  src: url('../../font/roboto-bold_0-webfont.woff2') format('woff2'),  url('../../font/roboto-bold_0-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotolight';
  src: url('../../font/roboto-light-webfont.woff2') format('woff2'),  url('../../font/roboto-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

ion-header{
  background: none !important;

  .toolbar-background{
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #68e911 0%, #0abe0d 100%) repeat scroll 0 0 !important;
  }

  ion-icon{
    color: #FFFFFF;
  }

  .toolbar-title{
    color: #FFFFFF;
  }

  .createbtn{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    float: right;
    position: absolute;
    right: 0;
    top: 6px;
  }

  .createbtn:hover{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
  }

  .button.activated{
    box-shadow: none;
  }

}


.signupcontent {
  background: rgba(0, 0, 0, .6) url("../../images/home_back.jpg") no-repeat center;
  background-size: cover;
  padding: 0;
  scroll-content {
    padding: 0;
    background: rgba(0, 0, 0, 0.4);
  }
  .main-content {
   display:table;
    width:100%;
    height:100%;
  }
  .logo-area {
    width: 150px;
    margin: 0 auto;
  }

  .clear{ clear:both;}
  .forma-area {
    vertical-align:middle;
    display:table-cell;
    h2 {
      color: #ffffff;
      text-transform: uppercase;
      font-weight: bold;
      font-family: 'robotobold';
      font-size: 26px;
      text-shadow:0 0 2px #111;
      text-align: center;
      margin-bottom:20px;
      padding:10px 0 10px 0;
    }
    .formTag {
      width:80%; margin:0 auto;
      text-align: center;


      /*input[type="text"],input[type="number"], input[type="email"], input[type="password"],.membershipoption {
        background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
        border: 1px solid #fff;
        border-radius: 0;
        height: 50px;
        width: 100%;
        color: #ffffff;
        margin:8px auto;
        font-family:Arial, Helvetica, sans-serif;
        padding: 10px;
        font-size: 14px; border-radius:4px;
      }*/
      .item-datetime{
        background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
        border: 1px solid #fff;
        border-radius: 0;
        height: 50px;
        width: 100%;
        color: #ffffff;
        margin:8px auto;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 14px;
        border-radius:4px;

        .item-inner{
          border-bottom: none;
        }
      }



      /*input::-webkit-input-placeholder {
        color: #ffffff; opacity:10;
      }

      input:-moz-placeholder { /* Firefox 18-
        color: #ffffff; opacity:10;
      }

      input::-moz-placeholder {  /* Firefox 19+
        color: #ffffff; opacity:10;
      }

      input:-ms-input-placeholder {
        color: #ffffff; opacity:10;
      }*/


      .form-control2{  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
        border: 1px solid #fff;
        border-radius: 0;
        height: 50px;
        width: 73%!important; float: left;
        color: #ffffff;
        margin:8px 0;
        font-family:Arial, Helvetica, sans-serif;
        padding: 10px;
        font-size: 14px; border-radius:4px;}

      .select-control2{
        background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
        border: 1px solid #fff;
        border-radius: 0;
        height: 50px;
        width: 26%;
        color: #ffffff;
        margin:8px 0;
        font-family:Arial, Helvetica, sans-serif;
        padding: 10px;
        font-size: 20px; float:right;  border-radius:4px;}


      .loginbtn {
        display: block;
        margin: 30px auto;
        background-color: #00ff00;
        font-size: 30px; border-radius:6px; width:250px!important; height:60px;    font-family: 'robotobold';
        font-size: 40px; text-shadow:0 0 2px #111; text-align:center; line-height:60px; background: rgba(103,232,17,1);
        background: -moz-linear-gradient(top, rgba(103,232,17,1) 0%, rgba(12,190,12,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(103,232,17,1)), color-stop(100%, rgba(12,190,12,1)));
        background: -webkit-linear-gradient(top, rgba(103,232,17,1) 0%, rgba(12,190,12,1) 100%);
        background: -o-linear-gradient(top, rgba(103,232,17,1) 0%, rgba(12,190,12,1) 100%);
        background: -ms-linear-gradient(top, rgba(103,232,17,1) 0%, rgba(12,190,12,1) 100%);
        background: linear-gradient(to bottom, rgba(103,232,17,1) 0%, rgba(12,190,12,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67e811', endColorstr='#0cbe0c', GradientType=0 );

      }



      .item{
        background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
        border: none;

        ion-label{
          color: #FFFFFF;
        }

        .text-input{
          color: #FFFFFF;
        }
      }















    }
    .alert {
      color: #ff0000;
      font-size: 12px;
      margin: 0 auto 6px;
      text-align: left;
      width: 100%;
    }

    .profileImgBtn{
      background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #67e811 0%, #0cbe0c 100%) repeat scroll 0 0;
      border-radius: 6px;
      display: block;
      font-family: "robotobold";
      font-size: 29px;
      line-height: 47px;
      margin: 15px auto;
      text-align: center;
      text-shadow: 0 0 2px #111;
      border: none;
      color: #ffffff;
    }

    .profileImg{
      width: 150px;
      margin: 0 auto;
    }

  }
  .dividediv {


    margin:30px auto!important;
    text-align: center; height: 25px;
    position: relative; width:80%; background-size:100%;
    background: url("../../images/or.png") no-repeat center center;
  }
  .footer {
    width: 100%;
    position: relative;
    .btnarea {
      background-color: #16203B;
      padding: 20px;
      width: 100%;
      button {
        width: 100%;
        font-size:32px;
        font-family: 'robotobold';
        color:#fff;
        text-shadow:0 0 2px #111;
        margin:10px 0;
        padding:0px!important;
        @media(max-width:580px) {
          font-size:20px;
        }
        @media(max-width:420px) {
          font-size:18px;
        }
      }
      .button-fblogin {
        height:97px!important;
        border-radius:5px;
        background: rgba(0, 123, 255, 1);
        background: -moz-linear-gradient(top, rgba(0, 123, 255, 1) 0%, rgba(0, 85, 255, 1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 123, 255, 1)), color-stop(100%, rgba(0, 85, 255, 1)));
        background: -webkit-linear-gradient(top, rgba(0, 123, 255, 1) 0%, rgba(0, 85, 255, 1) 100%);
        background: -o-linear-gradient(top, rgba(0, 123, 255, 1) 0%, rgba(0, 85, 255, 1) 100%);
        background: -ms-linear-gradient(top, rgba(0, 123, 255, 1) 0%, rgba(0, 85, 255, 1) 100%);
        background: linear-gradient(to bottom, rgba(0, 123, 255, 1) 0%, rgba(0, 85, 255, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007bff', endColorstr='#0055ff', GradientType=0 );
        @media(max-width:470px) {
          height:49px!important;
        }

        .newbtn2 {
          display:block!important;
          width:100%!important;
          height:97px!important;
          text-align:center;
          padding-left:98px;
          line-height:97px;
          border-radius:5px;
          background: url("../../images/fb_icon.png") no-repeat left / contain;
          @media(max-width:470px) {
            height:49px!important;
            background-size:60px;
            line-height:50px;
            padding-left:62px;
          }
        }
      }

    }
  }
}
