<ion-content class="signupcontent">
  <div class="main-content">
    <div class="logo-area">
      <ion-img src="images/logo.png"></ion-img>
    </div>

    <div class="forma-area">
      <h2>Create new account</h2>
      <form novalidate [formGroup]="loginForm" (ngSubmit)="doSubmit(loginForm.value)" class="formTag">
        <input [formControl]="loginForm.controls['username']" type="text" placeholder="User Name" class="form-control">
        <div *ngIf ="loginForm.controls['username'].touched">
          <div *ngIf ="loginForm.controls['username'].hasError('required')" class = "alert alert-danger">
            <strong>User Name  is required</strong>
          </div>
          <div *ngIf ="loginForm.controls['username'].hasError('minlength')" class = "alert alert-danger">
            <strong>Minimum username length is 3!</strong>
          </div>
          <div *ngIf ="loginForm.controls['username'].hasError('maxlength')" class = "alert alert-danger">
            <strong>Maximum username length is 25!</strong>
          </div>


        </div>
        <input [formControl]="loginForm.controls['password']" type="password" placeholder="Password" class="form-control">
        <div *ngIf ="loginForm.controls['password'].touched">
          <div *ngIf ="loginForm.controls['password'].hasError('required')" class = "alert alert-danger">
            <strong>Password  is required</strong>
          </div>
          <div *ngIf ="loginForm.controls['password'].hasError('minlength')" class = "alert alert-danger">
            <strong>Minimum password length is 8!</strong>
          </div>
        </div>
        <input [formControl]="loginForm.controls['confpassword']" type="password" placeholder="Confirm Password" class="form-control">
        <div *ngIf ="loginForm.controls['confpassword'].touched">
          <div *ngIf ="!loginForm.controls['confpassword'].valid" class = "alert alert-danger">
            <strong>Confirm password  is required</strong>
          </div>
        </div>
        <div *ngIf ="loginForm.hasError('mismatchedPasswords') && loginForm.controls['confpassword'].valid " class = "alert alert-danger">
          <strong>Passwords must match</strong>
        </div>
        <input [formControl]="loginForm.controls['fname']" type="text" placeholder="First Name" class="form-control">
        <div *ngIf ="loginForm.controls['fname'].touched">
          <div *ngIf ="!loginForm.controls['fname'].valid" class = "alert alert-danger">
            <strong>First Name  is required</strong>
          </div>
        </div>
        <input [formControl]="loginForm.controls['lname']" type="text" placeholder="Last Name" class="form-control">
        <div *ngIf ="loginForm.controls['lname'].touched">
          <div *ngIf ="!loginForm.controls['lname'].valid" class = "alert alert-danger">
            <strong>Last Name  is required</strong>
          </div>
        </div>
        <input [formControl]="loginForm.controls['email']" type="email" placeholder="Email" class="form-control">
        <div *ngIf ="loginForm.controls['email'].touched">
          <div *ngIf ="!loginForm.controls['email'].valid" class = "alert alert-danger">
            <strong>Email is required</strong>
          </div>
        </div>
        <div *ngIf ="!verifyemail">
          <div *ngIf ="!verifyemail" class = "alert alert-danger">
            <strong>Email must be valid</strong>
          </div>
        </div>
        <ion-item class="dob" >
          <ion-label>Date Of Birth</ion-label>
          <ion-datetime min="1944-01-01" max="2009-12-01" disabled="false" displayFormat="MM/DD/YYYY" [formControl]="loginForm.controls['dob']" #dob></ion-datetime>
        </ion-item>
        <select [formControl]="loginForm.controls['gender']" class="membershipoption">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        <div *ngIf ="loginForm.controls['plan'].touched">
          <div *ngIf ="!loginForm.controls['plan'].valid" class = "alert alert-danger">
            <strong>Plan is required</strong>
          </div>
        </div>
        <input [formControl]="loginForm.controls['height']" type="text" placeholder="Height (ft)" class="formcontro3" style="width: 49%;  float: left; margin-right: 1%">
        <input [formControl]="loginForm.controls['heightinch']" type="text" placeholder="(in)" class="formcontro3" style="width: 50%; float: left;">
        <div class="clear"></div>
        <div *ngIf ="loginForm.controls['height'].touched">
          <div *ngIf ="!loginForm.controls['height'].valid" class = "alert alert-danger">
            <strong>Height is required</strong>
          </div>
        </div>
        <input [formControl]="loginForm.controls['weight']" type="text" placeholder="Weight" class=" form-control2">
        <select [formControl]="loginForm.controls['weightunit']" class="select-control2">
          <option value="lb">lb</option>
        </select>
        <div class="clear"></div>
        <div *ngIf ="loginForm.controls['weight'].touched">
          <div *ngIf ="!loginForm.controls['weight'].valid" class = "alert alert-danger">
            <strong>Weight is required</strong>
          </div>
        </div>
        <input [formControl]="loginForm.controls['bodyfat']" type="text" placeholder="Body Fat" class="form-control2">
        <select [formControl]="loginForm.controls['bodyfatunit']" class="select-control2">
          <option value="lb">lb</option>
        </select>
        <div *ngIf ="loginForm.controls['bodyfat'].touched">
          <div *ngIf ="!loginForm.controls['bodyfat'].valid" class = "alert alert-danger">
            <strong>Body Fat is required</strong>
          </div>
        </div>
        <select [formControl]="loginForm.controls['plan']" class="membershipoption">
          <option value="0" selected="selected">Free Membership</option>
          <option value="29.99">Easy Vegan Nutrition Planning $29.99</option>
          <option value="99.99">Personal Nutrition Coaching $99.99</option>
        </select>
        <div *ngIf ="loginForm.controls['plan'].touched">
          <div *ngIf ="!loginForm.controls['plan'].valid" class = "alert alert-danger">
            <strong>Plan is required</strong>
          </div>
        </div>

        <button type="submit" class="loginbtn" >Sign up</button>
        <!--<button [navPush]="signup2" class="loginbtn" >Sign up</button>-->
      </form>
    </div>

    <div class="dividediv">
    </div>

    <div class="footer">
      <div class="btnarea">
        <button (click)="login()"  class="button-fblogin"><span class="newbtn2">Login With Facebook</span></button>
      </div>
    </div>

  </div>

</ion-content>
