<ion-header>
  <ion-navbar>
    <ion-title class="innerheader">Create recipe</ion-title>
  </ion-navbar>
</ion-header>



<ion-content class="has-header">
  <div class="container-fluid mainwrapper">

    <div class="text-area">
      <ion-item>
        <ion-label color="primary" fixed>Name</ion-label>
        <ion-input type="text" [formControl]="nutriForm.controls['receipename']"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" fixed>Description</ion-label>
        <ion-input type="text" [formControl]="nutriForm.controls['descripttion']"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" fixed>Prep Time</ion-label>
        <ion-input type="number" [formControl]="nutriForm.controls['preptime']" plceholder="min"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" fixed>Cook Time</ion-label>
        <ion-input type="number" [formControl]="nutriForm.controls['cooktime']" plceholder="min"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" fixed>Recipe yields</ion-label>
        <ion-input type="number" [formControl]="nutriForm.controls['yields']" plceholder="serving"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" fixed>Seving Size</ion-label>
        <ion-input type="number" [formControl]="nutriForm.controls['servingsize']"></ion-input>
        <ion-input type="text" [formControl]="nutriForm.controls['servingtype']"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Category</ion-label>
        <ion-select placeholder="Other" [formControl]="nutriForm.controls['category']">
          <ion-option *ngFor="let item of recipecat; let i = index"  value="{{item._id}}">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>

      <div class="btnarea">
        <ion-label>Dish Type</ion-label>
        <div class="btnsubare">
          <input type="button" class="btn" value="Side Dish" ngClass="{{(dishtype == '0')?'active':''}}" (click)="cngdishtype('0')">
          <input type="button" class="btn" value="Main Dish" ngClass="{{(dishtype == '1')?'active':''}}" (click)="cngdishtype('1')">
        </div>
      </div>

      <ion-item>
        <ion-label>Is this a breakfasty food?</ion-label>
        <ion-toggle [formControl]="nutriForm.controls['isbreakfast']" checked="false" color="primary"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Can this easily be made for 1 serving?</ion-label>
        <ion-toggle [formControl]="nutriForm.controls['isoneserving']" checked="false"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Does this make good leftovers?</ion-label>
        <ion-toggle [formControl]="nutriForm.controls['leftovers']" checked="false"></ion-toggle>
      </ion-item>

      <div class="ingarea">
        <ion-label>Ingredients</ion-label>
        <div class="block3 block31">

          <div class="left-div1">
            <div class="list-div">
              <div class="left-div">{{totalcalories}}</div>
              <div class="right-div">Calories</div>
            </div>
            <div class="list-div">
              <div class="left-div">{{totalcarbs}}g</div>
              <div class="right-div">Carbs</div>
            </div>
            <div class="list-div">
              <div class="left-div">{{totalfat}}g</div>
              <div class="right-div">Fat</div>
            </div>
            <div class="list-div">
              <div class="left-div">{{totalprotein}}g</div>
              <div class="right-div">Protein</div>
            </div>
          </div>
          <div class="right-div1">
            <base-chart class="chart" [data]="piechartdata" [chartType]="pieChartType" [options]="pieChartOption"></base-chart>
          </div>

        </div>


        <div class="block41" *ngFor="let item of foodlist; let i = index">
          <div class="subblock1">
            <ion-img src="{{(item.image != '')?filesrc+item.image:'images/foodicon.ico'}}"></ion-img> {{item.foodname}}
            <div class="subblock155">{{item.servingsize}} {{item.servingtype}}</div>
          </div>
          <div class="subblock2" (click)="delfood(item)">
           X
          </div>
        </div>
        <div style="clear: both;"></div>
        <div class="btnar">
          <input type="button" class="bttn" value="+ Add Ingredient +" (click)="addingr()">
        </div>
      </div>

      <!--<div class="ingarea">
        <ion-label>Direction</ion-label>
        <ion-item *ngFor="let direction of nutriForm.controls['direction'].controls; let i=index">
          <ion-label>{{i + 1}}.</ion-label>
          <div [formGroupName]="i">
            <ion-textarea formControlName="dir"></ion-textarea>
          </div>
        </ion-item>
        <div class="btnar">
          <input type="button" class="bttn" value="+ Add Direction +" (click)="addDirection()">
        </div>
      </div>-->


      <button type="button" class="loginbtn" (click)="dosubmit111(nutriForm.value)">Save</button>

    </div>

  </div>



</ion-content>