<ion-header>
  <ion-navbar>
    <ion-title>Physical Profile</ion-title>
  </ion-navbar>
  <button class="createbtn" (click)="nextstep()">Next</button>
</ion-header>


<ion-content class="signupcontent3">
  <div class="main-content">

    <div class="text-area">
      <p>Tell us about yourself  {{unittype}}</p>



      <ion-item *ngIf="unittype == 'imperial'">
        <ion-label>Height</ion-label>
        <ion-select placeholder="0'" (ionChange)="changeheight1($event)">
          <ion-option value="2">2'</ion-option>
          <ion-option value="3">3'</ion-option>
          <ion-option value="4">4'</ion-option>
          <ion-option value="5">5'</ion-option>
          <ion-option value="6">6'</ion-option>
          <ion-option value="7">7'</ion-option>
          <ion-option value="8">8'</ion-option>
        </ion-select>
        <ion-select placeholder='0"' (ionChange)="changeheightinch($event)">
          <ion-option value="0">0"</ion-option>
          <ion-option value="1">1"</ion-option>
          <ion-option value="2">2"</ion-option>
          <ion-option value="3">3"</ion-option>
          <ion-option value="4">4"</ion-option>
          <ion-option value="5">5"</ion-option>
          <ion-option value="6">6"</ion-option>
          <ion-option value="7">7"</ion-option>
          <ion-option value="8">8"</ion-option>
          <ion-option value="9">9"</ion-option>
          <ion-option value="10">10"</ion-option>
          <ion-option value="11">11"</ion-option>
        </ion-select>
      </ion-item>

      <ion-item color="secondary" *ngIf="unittype == 'metric'">
        <ion-label color="primary" fixed>Height</ion-label>
        <ion-input type="number" placeholder="cm" (keyup)="changeheight($event.target.value)" value="{{height}}"></ion-input>
      </ion-item>

      <ion-item color="secondary">
        <ion-label color="primary" fixed>Weight</ion-label>
        <ion-input type="number" placeholder="{{(unittype == 'imperial')?'lbs':'kg'}}" (keyup)="changeweight($event.target.value)"></ion-input>
      </ion-item>

      <div class="btnarea">
        <div class="btnsubare">
          <input type="button" class="btn" value="Male" ngClass="{{(gender == 'male')?'active':''}}" (click)="changegender('male')">
          <input type="button" class="btn" value="Female" ngClass="{{(gender == 'female')?'active':''}}" (click)="changegender('female')">
        </div>
      </div>


      <ion-item>
        <ion-label color="primary" fixed>Age</ion-label>
        <ion-input type="number"  (keyup)="changeage($event.target.value)"></ion-input>
      </ion-item>

      <div class="btnarea">
        <ion-label>Bodyfat</ion-label>
        <div class="btnsubare">
          <input type="button" class="btn" value="Low" ngClass="{{(fattype == 'low')?'active':''}}" (click)="changefattype('low')">
          <input type="button" class="btn" value="Medium" ngClass="{{(fattype == 'medium')?'active':''}}" (click)="changefattype('medium')">
          <input type="button" class="btn" value="High" ngClass="{{(fattype == 'high')?'active':''}}" (click)="changefattype('high')">
        </div>
      </div>

    </div>


  </div>

</ion-content>
